
/*main*/
html {
    font-family: Arial, Helvetica, sans-serif; 
}

header {
    text-align: center;
    font-size: 75px;
}

.content-box {
    background-color: darkgrey;
    height: fit-content;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.content-box h1 {
    font-size: 50px;
    margin-top: 5px;
}

.content {
    text-align: center;
    margin: 15px;
}
.content p {
    font-size: 20px;
}

.content h2 {
    font-size: 30px;
}
 
.content a {
    text-decoration: none;
    font-size: 30px;
    color:black;
    transition: 0.3s ;
}

.content a:hover{
    background-color: white;
}
/*navigacios csik*/
nav {
    height: fit-content;
}

nav ul{
    font-size: 30px;
    text-align: 10px;
}

nav ul a {
    text-decoration: none;
    color: black;
    margin: 14px;
    transition: 0.3s;
}

nav ul a:hover{
    background-color: darkgrey;
}