/*main*/
html {
    font-family: Arial, Helvetica, sans-serif; 
}

header {
    text-align: center;
    font-size: 75px;
}

.content-box {
    background-color: darkgrey;
    height: fit-content;

}

.content-box h1 {
    text-align: center;
    font-size: 65px;
}

.content p {
    text-align: center;
    font-size: 30px;
}
/*navigacios csik*/
nav {
    background-color: ghostwhite;
    height: 60px;
}

nav ul{
    font-size: 30px;
    text-align: 10px;
}

nav ul a {
    text-decoration: none;
    color: black;
}
