/*main*/
html {
    font-family: Arial, Helvetica, sans-serif; 
}

header {
    text-align: center;
    font-size: 75px;
}

.content-box {
    background-color: grey;
    height: fit-content;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.content-box h1 {
    font-size: 65px;
    margin-top: 5px;
}

.content {
    text-align: center;
    margin: 15px;
}
.content p {
    font-size: 30px;
}
/*navigacios csik*/
nav {
    background-color: grey;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav ul{
    font-size: 30px;
    text-align: 10px;
}

nav ul a {
    text-decoration: none;
    color: black;
}
